<div class="container-fluid img-background">
    <div class="mb-3">
        <div class="mb-2 row d-flex h-100">
            <div class="col-md-8 col-lg-7 col-xl-3 mt-2">
                <label for="">Escolha a Quarta de Final
                    <select class="form-select" name="quarta" id="quarta"  #quarta>
                        <option *ngFor="let quarta of quartas" >{{quarta}}</option>
                    </select>
                </label>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3 offset-x1-1 mt-4">
                <button class="btn btn-primary" (click)="findTeams()">Buscar Por Quarta de Final</button>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="teams1 || teams2">
        <div class="col-md-7 col-lg-7 col-xl-7 offset-x1-1 form-size fw-bold">
            <form [formGroup]="quartersForm" (ngSubmit)="updateQuarters()">
                <div class="row">
                    <div class="form-group col">
                        <label for="nome" class="form-label text-white">Time</label>
                        <select class="form-select" name="firstId" id="firstId" formControlName="firstId">
                            <option *ngFor="let team of teams1" [ngValue]="team.id">{{team.teamName}} - Grupo: {{team.groupType}}.</option>
                        </select>
                        <label for="cpf" class="form-label text-white">Gols</label>
                        <input type="number" class="form-control" id="amountOfGoals1" formControlName="amountOfGoals1">
                    </div>
                    <div class="col align-self-center text-center mt-2">
                        <p>x</p>
                    </div>
                    <div class="form-group col">
                        <label for="nome" class="form-label text-white">Time</label>
                        <select class="form-select" name="secondId" id="secondId" formControlName="secondId">
                            <option *ngFor="let team of teams2" [ngValue]="team.id">{{team.teamName}} - Grupo: {{team.groupType}}.</option>
                        </select>
                        <label for="cpf" class="form-label text-white">Gols</label>
                        <input type="number" class="form-control" id="amountOfGoals2" formControlName="amountOfGoals2">
                    </div>
                    <div class="mt-2 mb-5">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-5 col-lg-5 col-xl-5">
            <img class="img-quarters" [src]="img" [alt]="alt">
        </div>
    </div>
</div>