<div class="vh-auto container-fluid img-background">
    <div class="container h-100 login-screen">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 border-form text-white">
                <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
                    <!-- Usuario input -->
                    <div>
                        <h2 class="text-center">Cadastro</h2>
                    </div>
                    <div class="form-outline mb-2 mt-4">
                        <input type="text" id="userName" class="form-control form-control-lg" formControlName="userName"
                            placeholder="Digite um Usuário" />
                        <label class="form-label" for="userName">Novo Usuário</label>
                        <app-errors-handlers [form-control]="$any(registerForm)?.get('userName')"></app-errors-handlers>
                    </div>
    
                    <!-- Heart Team input -->
                    <div class="form-outline mb-4">
                        <input type="password" id="heartTeam" class="form-control form-control-lg"
                            formControlName="heartTeam" placeholder="Digite o seu Time do Coração" />
                        <label class="form-label" for="heartTeam">Time do Coração</label>
                        <app-errors-handlers [form-control]="$any(registerForm)?.get('heartTeam')"></app-errors-handlers>
                    </div>
                    <!-- Submit button -->
                    <div class="text-center mb-5">
                        <button [disabled]="registerForm.invalid" type="submit" class="btn btn-primary btn-block">Cadastrar
                            novo Usuário</button>
                        <a class="mx-3 text-white" routerLink="">Voltar pro Login?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>