.image-bg{
    background-image: url(/assets/backgrounds/estadio-brilhoso.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    min-width: 500px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.img-final{
    min-width: 400px;
}

.form-size{
    min-width: 400px;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
