<div class="container-fluid image-bg">
    <div class="container-fluid img-background">
        <div class="row d-flex align-items-center justify-content-center mt-3">
            <img class="img-final col-md-9 col-lg-9 col-xl-9" src="/assets/final/final.png" alt="final">
        </div>
        <div class="form-size fw-bold">
            <div class="">
                <form [formGroup]="finalForm" (ngSubmit)="updateFinal()">
                    <div class="row">
                        <div class="form-group col">
                            <label for="nome" class="form-label text-dark">Time</label>
                            <select class="form-select" name="firstId" id="firstId" formControlName="firstId">
                                <option *ngFor="let team of teams" [ngValue]="team.id">{{team.teamName}}</option>
                            </select>
                            <label for="cpf" class="form-label text-dark">Gols</label>
                            <input type="number" class="form-control" id="amountOfGoals1" formControlName="amountOfGoals1">
                        </div>
                        <div class="col align-self-center text-center mt-2">
                            <p>x</p>
                        </div>
                        <div class="form-group col">
                            <label for="nome" class="form-label text-dark">Time</label>
                            <select class="form-select" name="secondId" id="secondId" formControlName="secondId">
                                <option *ngFor="let team of teams" [ngValue]="team.id">{{team.teamName}}</option>
                            </select>
                            <label for="cpf" class="form-label text-dark">Gols</label>
                            <input type="number" class="form-control" id="amountOfGoals2" formControlName="amountOfGoals2">
                        </div>
                        <div class="mt-2 mb-5">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>