<div class="vh-auto container-fluid img-background">
        <div class="container h-100 login-screen">
            <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-md-8 col-lg-7 col-xl-6">
                </div>
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 border-form text-white">
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <!-- Usuario input -->
                        <div>
                            <h2 class="text-center">Login</h2>
                        </div>
                        <div class="form-outline mb-4 mt-4">
                            <input type="text" id="userName" class="form-control form-control-lg" formControlName="userName" placeholder="Digite o Usuário" />
                            <label class="form-label" for="userName">Usuário</label>
                            <app-errors-handlers [form-control]="$any(loginForm)?.get('userName')"></app-errors-handlers>
                        </div>
    
                        <!-- Heart Team input -->
                        <div class="form-outline mb-4">
                            <input type="password" id="heartTeam" class="form-control form-control-lg" formControlName="heartTeam" placeholder="Digite o Time do Coração" />
                            <label class="form-label" for="heartTeam">Time do Coração</label>
                            <app-errors-handlers [form-control]="$any(loginForm)?.get('heartTeam')"></app-errors-handlers>
                        </div>
    
                        <div class="d-flex justify-content-around align-items-center mb-4">
                            <!-- Checkbox -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                                <label class="form-check-label" for="form1Example3"> Me lembre </label>
                            </div>
                            <a class="text-white" routerLink="/register">Ainda não se cadastrou? Clique aqui</a>
                        </div>
    
                        <!-- Submit button -->
                        <div class="text-center">
                            <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary btn-block mb-5">Realizar Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>
<!-- [routerLink]="['/users/games', loginForm.get('userName')?.value]" -->