.img-background{
    background-image: url("/assets/login/image-login-cadastro.jpeg");
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size: cover;
    background-color: #464646;
    min-width: 100vh;
    min-height: 100vh;
}

.login-screen{
    min-width: 300px;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}