.bgColor{
    background-image: url("/assets/all-teams/image-table-goals.jpeg");
    background-repeat: no-repeat;
    background-size: 100vmax 100%;
    background-position: center center;
    min-width: 500px;
}

.table-goals{
    padding-top: 20%;
    padding-bottom: 5%;
}