<div class="container-fluid bgColor">
  <div class="d-flex justify-content-center">
    <div class="col-md-6 col-lg-6 col-xl-8 offset-x1-1 table-goals">
      <div class="dropdown mb-2">
        <a class="btn text-white dropdown-toggle" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Classificar por: 
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" (click)="byTeamName()">Nome do Time</a></li>
          <li><a class="dropdown-item" (click)="byAmountOfGoals()">Quantidade de Gols</a></li>
          <li><a class="dropdown-item" (click)="byGroup()">Grupos</a></li>
        </ul>
      </div>
      <table class="table table-striped table-hover table-sm table-light border">
        <thead>
          <tr>
            <th scope="col">Nome do Time:</th>
            <th scope="col">Quantidade de Gols</th>
            <th scope="col">Grupo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let team of teams | paginate: { itemsPerPage: 8, currentPage: page}">
            <td>{{team.teamName}}</td>
            <td>{{team.amountOfGoals}}</td>
            <td>{{team.groupType}}</td>
          </tr>
        </tbody>
      </table>
      <div class="">
        <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Próximo">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>