.image-bg{
    background-image: url(/assets/backgrounds/estadio.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    min-width: 500px;
    min-height: 100vh;
}