<div class="container-fluid image-bg">
    <div class="">
        <div class="mb-2 row d-flex h-100">
            <div class="col-md-8 col-lg-7 col-xl-3 mt-2">
                <label for="">Escolha a letra do Grupo:
                    <select class="form-select" name="group" id="group" #group>
                        <option *ngFor="let group of groups">{{group}}</option>
                    </select> 
                </label>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3 offset-x1-1 mt-4">
                <button class="btn btn-primary" (click)="findByGroup()">Buscar Por Grupo</button>
            </div>
        </div>
    </div>

    <div class="" *ngIf="teams">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img [src]="img" [alt]="alt" style="width: 100%;">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-x1-1">
                <h3 class="text-center">Resultado do Jogo</h3>
                <form [formGroup]="teamUpdateForm" (ngSubmit)="updateTeams()">
                    <div class="row">
                        <div class="form-group col">
                            <label for="nome" class="form-label">Time</label>
                            <select class="form-select" name="firstId" id="firstId" formControlName="firstId">
                                <option *ngFor="let team of teams" [ngValue]="team.id">{{team.teamName}}</option>
                            </select>
                            <label for="cpf" class="form-label">Gols</label>
                            <input type="number" class="form-control" id="amountOfGoals1"
                                formControlName="amountOfGoals1">
                        </div>
                        <div class="col align-self-center text-center mt-2">
                            <p>x</p>
                        </div>
                        <div class="form-group col">
                            <label for="nome" class="form-label">Time</label>
                            <select class="form-select" name="secondId" id="secondId" formControlName="secondId">
                                <option *ngFor="let team of teams" [ngValue]="team.id">{{team.teamName}}</option>
                            </select>
                            <label for="cpf" class="form-label">Gols</label>
                            <input type="number" class="form-control" id="amountOfGoals2"
                                formControlName="amountOfGoals2">
                        </div>
                        <div class="mt-2 mb-5">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>




<!-- <div class="container mt-2" *ngIf="teams">
    <div class="row">
      <div class="col-6">
        <img [src]="img" [alt]="alt" style="width: 100%;">
      </div>
      <div class="col-6">
        <table class="table table-striped table-hover table-sm table-light border">
            <thead>
              <tr>
                <th scope="col">Nome do Time:</th>
                <th scope="col">Quantidade de Gols</th>
                <th scope="col">Grupo</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let team of teams">
                <td>{{team.teamName}}</td>
                <td>{{team.amountOfGoals}}</td>
                <td>{{team.groupType}}</td>
                <td>
                    <button class="btn btn-sm btn-primary">Editar</button>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
</div> -->