<nav class="navbar navbar-expand-lg navbar-light bgColor" *ngIf="isLoggedIn$ | async as isLoggedIn">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="teamsMatchs">Torcida Lotep</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active mx-2" aria-current="page" routerLink="teamsMatchs/teams">Pontuação Geral</a>
                <div class="dropdown mx-2">
                    <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Jogos
                    </a>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="teamsMatchs/groupFase">Fase de Grupos</a></li>
                        <li><a class="dropdown-item" routerLink="teamsMatchs/octavesFase">Oitava de Finais</a></li>
                        <li><a class="dropdown-item" routerLink="teamsMatchs/quaterFase">Quartas de finais</a></li>
                        <li><a class="dropdown-item" routerLink="teamsMatchs/semiFinal">Semi-finais</a></li>
                        <li><a class="dropdown-item" routerLink="teamsMatchs/final">Final</a></li>
                    </ul>
                </div>
                <a class="nav-link active position-absolute end-0 btn" (click)="doLogout()">Sair</a>
                <!-- <a class="nav-link active" routerLink="teamsMatchs/groupFase">Fase de Grupos</a>
                    <a class="nav-link" href="#">Oitava de Finais</a>
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Quartas de finais</a>
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Quartas de finais</a> -->
            </div>
        </div>
    </div>
</nav>