.img-background{
    background-image: url(/assets/backgrounds/estadio.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    min-width: 500px;
    min-height: 100vh;
}

.form-size{
    min-width: 400px;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}

.img-semi-final{
    align-items: center;
    text-align: center;
    max-width: 100%;
    min-width: 300px;
    padding-top: 20px;
    padding-bottom: 30px;
}